body, td {
font-family: Verdana;
font-size: 11px;
color: #000000;
font-weight: normal
}
tt, code, pre {
font-family: Courier New, Courier, mono;
font-size: 13px;
color: #333333;
}
h2.bullet {
font-size: 11px;
font-weight: bold;
}
a {
text-decoration: none;
font-weight: bold;
}
a:link, a:visited {
color: #505050;
}
a:hover {
color: #E79B1D;
}
.current, a.current:link, a.current:visited {
color: #907030;
font-weight: bold;
}

